.DS_Store
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip

# Ignore compiled files. This prevents unnecessary noise in Git history
assets/css/*.css
assets/js/*.min.js
assets/js/applicant-status-button-groups.js
assets/js/settings.js

# Compiled files for blocks
assets/js/blocks/
