//--------------------------------------------------------------
//   COLORS
//-------------------------------------------------------------

////
/// @group variables
////

// Primary palette
$color-black: #000;
$color-white: #fff;
$color-grey: #808080;
$color-dkgrey: #666;
$color-red: #d76666;

// Transparent colors
$trans-red: rgba(215, 102, 102, 0.9);
$trans-red2: rgba(215, 102, 102, 0.2);
$trans-purple: rgba(137, 102, 219, 0.9);
$trans-blue: rgba(102, 166, 215, 0.9);
$trans-green: rgba(52, 109, 51, 0.9);

// WordPress Colors
// https://make.wordpress.org/design/handbook/design-guide/foundations/colors/

$wp-blue: #0073aa;
$wp-medblue: #00a0d2;
$wp-red: #dc3232;
$wp-orange: #f56e28;
$wp-yellow: #ffb900;
$wp-green: #46B450;
$wp-purple: #826eb4;

// WordPress Grays
$wp-grey: #32373c;
$wp-ultradarkgray: #191e23;
$wp-darkgray: #23282d;
$wp-darksilvergray: #82878c;
$wp-silvergray: #a0a5aa;
$wp-lightsilvergray: #b4b9be;