//--------------------------------------------------------------
// Form Variables
//--------------------------------------------------------------

////
/// @group variables
////


/// LPF Admin-side forms

$lpf-padding-right: 0.6rem;

$lpf-ul-padding-left: 1.6rem;

$lpf-margin-top: 1rem;
$lpf-margin-bottom: 1rem;
$lpf-margin-bottom2: 0.5rem;
