// Tracy, replace with the better SASS :)

// Menu item

#adminmenu li.menu-top.menu-icon-jobs {
	.wp-menu-name {
		padding-right: 1rem
	}
}

/* List Table. */

/* Jobs List Table Shortcode */
.wp-admin {

	&.post-type-jobs .wp-list-table td pre.shortcode-sample {
		box-shadow: 0px 0px 2px #555 inset;
		display: inline-block;
		padding: 4px;
	}

}

    