@import "utilities/index";

// Define base background color.
$tax-btn-group-bg-color: $wp-medblue;

// Define slightly darker background color.
$tax-btn-group-contrast-bg-color: darken( $wp-medblue , 10% );

// Define base border color.
$tax-btn-group-border-color: $wp-blue;

.tax-btn-group {
	button {
		background-color: $tax-btn-group-bg-color; 
		border: 1px solid $tax-btn-group-border-color; 
		color: $color-white; 
		padding: 5px 12px;
		cursor: pointer; 
		float: left; 
	}

	/* Prevent double borders */
	button:not(:last-child) {
		border-right: none; 
	}

	/* Clear floats (clearfix hack) */
	&:after {
		content: "";
		clear: both;
		display: table;
	}

	/* Add a darker background color on hover */
	button:hover {
		background-color: $tax-btn-group-contrast-bg-color;
	}

	/* Add a darker background color when selected */
	button.active {
		background-color: $tax-btn-group-contrast-bg-color;   
	}
}

.lpf-notice.lpf-admin-notice {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    justify-self: end;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 250px;
}