@import "utilities/mixins/font-size-calculation";
@import "utilities/variables/colors";

// Form
.lpf-form {

	.lpf-field-container {
		padding-bottom: 0.4rem;

		&.lpf-disabled {
			opacity: .5;
			cursor: not-allowed;

			.lpf-input-label {
				pointer-events: none;
			}
		}
	}

	legend.lpf-input-label {
		font-weight: 600;
		margin-top: 2rem;
	}

	.lpf-input-label:not(legend),
	.lpf-select-label {
		display: inline-block;
		padding-right: 4px;
		text-align: right;
		width: 170px;

		&.lpf-input-label-checkbox {
			font-size: 0.875rem;
			margin-left: 174px;
			text-align: left;
			width: auto;
		}
	}

	.lpf-form-field {
		display: inline-block;
		width: auto;
	}

	.lpf-fieldset-container {
		padding-bottom: 2rem;

		&:last-oftype {
			padding-bottom: 0;
		}
	}

	.lpf-repeat-button {
		font-size: 0.875rem;
		margin-left: 174px;
	}

	.lpf-delete-button {
		position: absolute;
	}

	.lpf-delete-button {
		font-size: 0.875rem;
		padding: 0.875rem;
	}

	.lpf-fieldset-label {
		font-weight: 600;
		margin-left: 74px;
		padding-bottom: 0.6rem;
	}

	.error-text {
		background-color: lighten( $trans-red, 30% );
		color: darken( $wp-red, 10% );
		display: inline-block;
		font-size: 0.875rem;
		margin-left: 0.6rem;
		padding: 0.4rem;
		white-space: nowrap;
	}

	.lpf-submit {
		margin: 2rem 0 0 174px;
	}
}
