@import "utilities/mixins/font-size-calculation";
@import "utilities/variables/colors";

@mixin error_color($color) {
	background: $color;

	&::after {
		border-bottom-color: $color;
	}

	& + .lpf-form-field {
		border-color: $color;
	}
}

// Form
.lpf-form {

	.lpf-field-container {
		padding-bottom: 0.4rem;

		&.lpf-disabled {
			opacity: .5;
			cursor: not-allowed;

			.lpf-input-label {
				pointer-events: none;
			}
		}
	}

	legend.lpf-input-label {
		font-weight: 600;
		margin-top: 2rem;
	}

	.lpf-input-label:not(legend),
	.lpf-select-label {
		display: inline-block;
		padding-right: 4px;
		text-align: right;
		width: 170px;

		&.lpf-input-label-checkbox {
			font-size: 0.875rem;
			margin-left: 174px;
			text-align: left;
			width: auto;
		}
	}

	.lpf-form-field {
		display: inline-block;
		width: auto;
	}

	.lpf-fieldset-container {
		padding-bottom: 2rem;

		&:last-oftype {
			padding-bottom: 0;
		}
	}

	.lpf-repeat-button {
		font-size: 0.875rem;
		margin-left: 174px;
	}

	.lpf-delete-button {
		position: absolute;
	}

	.lpf-delete-button {
		font-size: 0.875rem;
		padding: 0.875rem;
	}

	.lpf-fieldset-label {
		font-weight: 600;
		margin-left: 74px;
		padding-bottom: 0.6rem;
	}

	.lpf-input-label {

		&.error-prompt {
			position: relative;

			.lpf-form-field, textarea {
				border: 1px solid $color-red;
			}

			.error-text {
				font-size: 14px;
				display: inline-block;
				position: absolute;
				left: 100%;
				background: $trans-red;
				padding: 5px;
				z-index: 2;
				color: $color-white;
				border-radius: 0.25em;
				white-space: nowrap;

				&.error-email {
					@include error_color($trans-purple);
				}

				&.error-zip {
					@include error_color($trans-blue);
				}

				&.error-year {
					@include error_color($trans-green);
				}
			}
		}
	}

	.lpf-submit {
		margin: 2rem 0 0 174px;
	}
}
