@import "utilities/index";

// Variables are in utilities/variables/forms

.group.yks_mbox {

	.yks-mbox-group {
		margin-top: $lpf-margin-top;

		.yks_mbox_description {
			padding-bottom: $lpf-margin-bottom2;
		}

		&.education, &.experience, &.volunteer {
			.yks_mbox_description_inline, .yks-mbox-message .yks_mbox_description {
				padding-bottom: 0;
			}
		}
	}


	/* Grid-ifying the required toggles */

	.yks-mbox-group {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: start;

		.yks-mbox-title {
			grid-column: 1 / span 2;
			max-width: 600px;
		}

		.yks-mbox-checkbox {
			grid-column: 1
		}
		.yks-mbox-toggle {
			grid-column: 2;
		}
	
	}
	
	label {
		font-size: $basefont;
		font-weight: 600;
	}

	.yks-mbox-group-field {
		@include fontsize(14px);
		line-height: 1.5;

		.lpf_details {
			margin-top: 0;
			padding-left: $lpf-ul-padding-left;

			li {
				margin-bottom: 0;
			}
		}
	}

}