@import "utilities/index";

/* Single View */
.single-applicant-view {

  section {
    h5 {
      @include fontsize(16px);
      font-weight: 600;
    }

    .yks_mbox_title {
      @include fontsize(20px);
    }

    &#header {

      .avatar {
        float: left;
        margin-right: 2rem;
      }

      h5 {
        @include fontsize(18px);
        margin: 1rem 0;
      }
    }

    .applicant-skills-container {
      padding: 0 0 1rem 1rem;

      p {
        @include fontsize(16px);
      }

      th {
        @include fontsize(14px);
        text-align: left;
      }
    }
  }
}
