@import "utilities/index";

#applicant-messaging {
	border-top: 2px solid $wp-silvergray;

	h4 {
		@include fontsize(16px);
		margin: 1rem 0;
	}
}

.messaging-container {

	.wp-admin & {
		padding: 0 0 0 1rem;
	}

	&.lpf-messaging-loading {
		opacity: .5;
		pointer-events: none;
	}

	/* Interview message styles */

	.lpf-message-interview-date,
	.lpf-message-interview-location,
	.lpf-message-interview-message {
		font-weight: 700;
	}

	.lpf-message-interview-date {
		margin-bottom: 0.8rem;
	}

	.lpf-message-interview-location,
	.lpf-message-interview-message {
		margin-bottom: 0.2rem;
	}

	.lpf-message-interview-message {
		margin-top: 0.8rem;
	}

	.lpf-message-interview-instructions {
		margin: 0.8rem 0;
	}

	.applicant-messaging-interview-confirm-container {
		border: 1px solid $wp-orange;
		margin: 1rem 0 2rem;
		padding: 1rem;

	    .applicant-messaging-interview-status {
	    	font-weight: 700;
	    }

	    .applicant-messaging-interview-confirm-details {
	    	margin-bottom: 0.8rem;
	    }

	    label {
	    	font-weight: 700;
	    }

		.applicant-messaging-interview-confirm,
		.applicant-messaging-interview-decline {
			border-radius: 2px;
			color: $color-white;
			padding: 0.4rem 0.8rem;

			&, &:visited {
				color: $color-white;
			}
		}

		.applicant-messaging-interview-confirm {
			background-color: $wp-green;
		}

		.applicant-messaging-interview-decline {
			background-color: $wp-red;
			margin-left: 1rem;
		}
	}

	.lpf-messaging-loading-gif {
    	position: absolute;
		margin-top: -45px;
		margin-left: 250px;
	}

	.wp-admin & .lpf-messaging-loading-gif {
		position: absolute;
		left: 48%;
		bottom: 14%;
		margin: 0;
	}
}

.new-applicant-message-container {
	padding-bottom: 0.4rem;

	&.cursor-disabled {
		cursor: not-allowed;
	}

	.disabled-for-interview {
		background-color: rgba(0, 0, 0, 0.1);
		pointer-events: none;
	}

	textarea {
		width: 100%;
		height: 140px;
	}
}


.send-new-applicant-message-container,
.conversation-container-text {
}

.conversation-container {
	max-height: 500px;

	&.conversation-container.has-conversation {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.lpf-message.hidden {
		display: none;
	}

	.message-from-applicant, .message-to-applicant {
		margin: 0.4rem 0 1rem;

		.message {
			display: inline-block;
			border-radius: 5px;
			padding: 0.6rem 1rem;
			max-width: 84%;
			width: auto;
		}

		.message-timestamp {
			display: block;
			@include fontsize(12px);
			padding: 3px 3px 3px 32px;
			width: 100%;

			&:after {
				font-weight: 600;
				padding-left: 0.4rem
			}
		}

		&.message-metabox:before {
			content: "\f125";
			display: inline-block;
			font-family: dashicons;
			@include fontsize(28px);
			margin-top: 0.4rem;
			vertical-align: top;
		}
	}

	.message-to-applicant {
		.message {
			border: 2px solid $wp-medblue;
		}

		.message-timestamp {
			&:after {
				content: "From Employer";
			}
		}

		&:before {
			color: $wp-medblue;
		}		
	}

	.message-from-applicant {

		.message {
			border: 2px solid $wp-green;
		}

		.message-timestamp {
			&:after {
				content: "From Applicant";
			}
		}

		&:before {
			color: $wp-green;
		}
	}
}


#interview-scheduler-container {
	padding: 1.6rem 0;

	label {
		margin: 0.4rem 0;

		&.inline-label {
			padding-right: 0.6rem;
		}
	}

	.disabled {
		pointer-events: none;
	}

	#interview-scheduler-button-container {
		#interview-scheduler {}
	}

	#interview-scheduler-fields-container,
	#send-interview-request-button-container {
	}

	#send-interview-request-button-container {
		margin-top: 1rem;
	}

	#interview-scheduler-fields-container {
		.interview-scheduler-instructions {
			margin: 1rem 0;
		}
		.inline-label {
			display: inline-block;
		}
		.block-label {
			display: block;
		}
		#interview-location, #interview-message {
			width: 100%;
			height: 120px;
		}
	}
}
	