@import "utilities/index";

#applicant-messaging {
	h2 {}

	h4 {
		@include fontsize(16px);
		margin: 1rem 0;
	}
}

.new-applicant-message-container {
	padding: 0 0 0 32px;
	width: 92%;

	&.cursor-disabled {
		cursor: not-allowed;
	}

	.disabled-for-interview {
		background-color: rgba(0, 0, 0, 0.1);
		pointer-events: none;
	}

	textarea {
		width: 100%;
		height: 140px;
	}
}


.send-new-applicant-message-container,
.conversation-container-text {
	padding: 1rem 0 0 32px;
}

.conversation-container {

	.lpf-message.hidden {
		display: none;
	}

	.message-from-applicant, .message-to-applicant {
		margin: 0.4rem 0 1rem;

		.message {
			display: inline-block;
			border-radius: 5px;
			padding: 0.6rem 1rem;
			width: 90%;
		}

		.message-timestamp {
			display: block;
			@include fontsize(12px);
			padding: 3px 3px 3px 32px;
			width: 100%;

			&:after {
				font-weight: 600;
				padding-left: 0.4rem
			}
		}

		&:before {
			content: "\f125";
			display: inline-block;
			font-family: dashicons;
			@include fontsize(28px);
			margin-top: 0.4rem;
			vertical-align: top;
		}
	}

	.message-to-applicant {
		.message {
			border: 2px solid $wp-medblue;
		}

		.message-timestamp {
			&:after {
				content: "From Employer";
			}
		}

		&:before {
			color: $wp-medblue;
		}		
	}

	.message-from-applicant {

		.message {
			border: 2px solid $wp-green;
		}

		.message-timestamp {
			&:after {
				content: "From Applicant";
			}
		}

		&:before {
			color: $wp-green;
		}
	}

	#conversation-show-all {
		text-align: center;
		cursor: pointer;   
	}
}


#interview-scheduler-container {
	padding: 2rem 0 2rem 32px;
	width: 92%;

	label {
		margin: 0.4rem 0;

		&.inline-label {
			padding-right: 0.6rem;
		}
	}

	#interview-scheduler-button-container {
		#interview-scheduler {}
	}

	#interview-scheduler-fields-container,
	#send-interview-request-button-container {
	}

	#send-interview-request-button-container {
		margin-top: 1rem;
	}

	#interview-scheduler-fields-container {
		.interview-scheduler-instructions {
			margin: 1rem 0;
		}
		.inline-label {
			display: inline-block;
		}
		.block-label {
			display: block;
		}
		#interview-location, #interview-message {
			width: 100%;
			height: 120px;
		}
	}
}
	