/**
 * Application Builder Styles
 */

body.post-type-applications #sidebarmenu1 {
	margin-top: 0;
	padding-top: 0;
}

body.post-type-applications #postbox-container-1 .postbox,
body.post-type-applications #postbox-container-1 .inside {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
}

body.post-type-applications .right-pull {
	float: right;
}

body.post-type-applications ul.menu li {
	margin-bottom: 10px;
}

body.post-type-applications .button-title-link div.add-buttons-title {
	min-height: 24px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #DFDFDF;
	margin: 0 !important;
	padding: 8px 12px 5px;
	white-space: nowrap;
	background: #FFF;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

body.post-type-applications .add-buttons {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	background-color: #FFF;
	border-color: #DFDFDF;
	padding: 12px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

body.post-type-applications .add_field_button_container:last-child {
	margin-bottom: 4em;
}

body.post-type-applications .button-title-link div.add-buttons-title .dashicons-arrow-down,
body.post-type-applications .button-title-link div.add-buttons-title .dashicons-arrow-up {
	width: 16px;
	position: absolute;
	right: 10px;
	color: #CCC;
}

.button-title-link.gf_button_title_active div.add-buttons-title {
}

.button-title-link {
	color: #464646;
	text-shadow: none;
	font-weight: bold;
	cursor: text !important;
	font-family: "Open Sans",sans-serif;
  	line-height: 1.4;
}

body.post-type-applications li.add_field_button_container ul li.add-buttons ol.field_type li input.button {
 	border-color: #DFDFDF;
 }

body.post-type-applications li.add_field_button_container ul li.add-buttons ol.field_type li input.button,
body.post-type-applications li.add_field_button_container ul li.add-buttons ol.field_type li input.button:hover,
body.post-type-applications li.add_field_button_container ul li.add-buttons ol.field_type li input.button:active {
 	border-radius: 3px !important;
 }

body.post-type-applications #job-application-builder input.button:active {
 	border-color: #BBB;
 }

body.post-type-applications #job-application-builder input.button:hover  {
	border-color: #CCC;
}

/**
 * Field Types
 */
body.post-type-applications ol.field_type {
	display: inline-block;
	visibility: visible !important;
	margin: 0;
	padding: 0;
}

body.post-type-applications #job-application-builder input.button {
	z-index: 9999;
	width: 95%;
	text-align: center;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-ms-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

	body.post-type-applications #job-application-builder input.button:hover {
		color: #88d688;
	}

body.post-type-applications ol.field_type li {
	float: left;
	width: 50%;
	list-style-type: none;
	list-style: none;
}

/**
* Tooltips
*/
body.post-type-applications .yikes_tooltip {
	text-decoration: none;
	color: #424242;
}

/**
 * Droppable Container
 */
body.post-type-applications #droppable {
	min-height: 100px;
}

body.post-type-applications #droppable input.button {
	width: 100%;
	margin: 5px 0;
}

	body.post-type-applications #droppable input.button:first-child {
		margin-top: 0;
	}

	body.post-type-applications #droppable input.button:last-child {
		margin-bottom: 0;
	}

	body.post-type-applications #droppable:empty {
		background: url( '../../../assets/img/empty-form-builder-bg.jpg');
		background-size: cover;
		background-position: center center;
	}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInlpa2VzLWluYy1sZXZlbC1wbGF5aW5nLWZpZWxkLWFwcGxpY2F0aW9uLWJ1aWxkZXIuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOztHQUVHOztBQUVIO0VBQ0Usc0JBQXNCO0VBQ3RCOztBQUVGOzs7RUFLRSw4QkFBOEI7RUFDOUI7O0FBRUY7RUFDRSxtQkFBbUI7RUFDbkI7O0FBRUY7RUFDRSxtQkFBbUI7RUFDbkIiLCJmaWxlIjoieWlrZXMtaW5jLWxldmVsLXBsYXlpbmctZmllbGQtYXBwbGljYXRpb24tYnVpbGRlci5jc3MifQ== */
